@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 90px 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Great Vibes", serif;
}

article ul.square li{
    list-style-type: square;
}
article ul.disc li{
    list-style-type: disc;
}
article ul.circle li{
    list-style-type: circle;
}
table, th, td{
    border: 1px solid lightgray;
    border-collapse: collapse;
    column-width: 800px;
}
table{
    text-align: left;
}

thead{
    background-color: darkgray;
}

table tr.lightgray{
    background-color: rgb(237, 235, 235);
}

table tr.white{
    background-color: white;
}

blockquote{
    border-left: 3px solid rgb(221,221,221);
}

blockquote p{
    margin: 40px;
}

blockquote{
    font-style: italic;
}

blockquote p.bottom{
    text-align: right;
}