@media screen and (max-width: 768px){
    .gallery {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    .gallery > * {
        width: 100%;
    }

    .spotlight > * {
        width: 100%;
    }

    .wrapper.style2 {
        background: #1e1f23;
        padding: 2rem;
    }

    div.inner{
        text-align: center;
    }

    .spotlight .inner {
        padding: 3rem;
    }
}