html{
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    
}

body{
    background-color: rgb(238, 238, 238);
}

aside{
    float: right;
}
article{
    padding: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 650px;
}

img{
    width: 500px;
}

aside li{
    width: 300px;
    background-color: aqua;
    line-height: 30px;
}

h2{
    margin-top: 70px;
}

