@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
*{
    box-sizing: border-box;
}

body{
    padding: 40px 20px;
}

fieldset legend{
    background-color: #f8f8f8;
    width: 140px;
    height: 30px;
    border: 1px solid darkgray;
    text-align: left;
    padding: 3px 12px;
    border-radius: 2px;
}

fieldset{
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    background-color: #f8f8f8;
}

fieldset p{
    display: inline-block;
    margin: 15px 5px 10px 20px;
}


fieldset button{
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 4px 10px;
    border-radius: 2px;
    margin: 20px;
}

i{
    position: absolute;
    margin-top: 17px;
    margin-left: 7px;
}

input{
    padding: 7px;
    text-align: center;
}

@media screen and (min-width: 460px){
    fieldset{
        max-width: 400px;
    }
    body {
        display: flex;
        justify-content: center;
    }

    div{
        flex-grow: initial;
    }
    
}